.pokeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  .searchbox {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      margin: 0.5rem 0.5rem;
      padding: 0.5rem 0.5rem;
  }
  
  .pcard{
      position: relative;
      height: fit-content;
      max-width: 250px;
      border-radius: 10px;
      color: #000;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      background-color: rgba(184, 193, 230, 0.722);
      border: 2px solid black;
  }
  
  
  .div1 {
    padding: 20px;
    margin: 1px;
    border-radius: 5px;
    display: inline-block;
    border: 2.5px dashed grey;
   
  }
  