form{
    width: 200px;
    margin: 20px auto;
}

input{
    width: 100%;
    padding: 10px;
}

.pcard{
    position: relative;
    height: fit-content;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.pstats div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}